

.alogo_container{
    font-size: 75px;
    display: inline-grid;
    font-family: 'IBM Plex Sans Thai', sans-serif;
    font-weight: 400;
}

.alogo_container .logo_container{
    position: relative;
}

.alogo_container .logo_container::after{
    content: "";
    position: absolute;
    left: 13%;
    top:-110%;
    width: 100%;
    height: 180%;
    border-right: 3px solid;
    transform: rotate(40deg);
}

.alogo_container .alogo_section2{
    font-size: 60%;
    color: #986363;
    grid-column: 2;
    grid-row: 2;
}

