@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans+Thai:wght@300&family=Prompt&display=swap');

.button_container{
    width: 100%;
    cursor: pointer;
    border: 0;
}

.logout_button, .login_button, .add_button, .ok_button{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #D19090;
    border-radius: 30px;
    /* min-height: 100px; */
    padding: 2% 0;
    width: 100%;
    cursor: pointer;
    border: 0;
    font-family: 'IBM Plex Sans Thai', sans-serif;
    font-weight: 400;
    font-size: calc(1vw + 24px);
    /* font-size: 36px; */
    color: #fff;
}

.add_button{
    color: #000;
    /* font-size: 30px; */
    background-color: #92E29A;
    width: 95%;
    padding: 2% 0;
}

.login_button{
    color: #000;
}

.ok_button{
    background-color: #B69B9B;
    width: 40%;
    color: #000;
    font-size: calc(1vw + 18px);
    padding: 5%;
}

