.logo_container{
    display: inline-block;
}

.logo_name{
    display: flex;
   /* font-size: 80px; */
   color: #986363;
   line-height: 0.85em;
   letter-spacing: 2px;
   font-family: 'Oswald', sans-serif;
}

.logo_highlight{
    padding: 10px 20px 20px 25px;
    margin-left: 20px;
    border-radius: 51px 51px 51px 51px / 64px 64px 64px 64px;
    background-color: #DC7373;
    color: #EFE0E0;
}