.namestu{
    position: relative;
    background: #C4C4C4 ;
    display: inline-block;
    font-family: 'IBM Plex Sans Thai', sans-serif;
    font-weight: bold;
    color: #3F27F5;
    padding: 20px;
    font-size:  calc(1vw + 30px);
    top:10px;
    border-radius: 30px 30px 30px 30px;
}