.detail_student_routes_container{
    display: flex;
    flex-direction: column;
    /* border: 1px solid; */
    min-height: 100%;
    flex-grow: 1;
}

.detail_student_routes_container_home{
    display: flex;
    flex-direction: column;
    /* border: 1px solid; */
    min-height: 100%;
    flex-grow: 1;
    position: relative;
    margin-top: calc((1vh - 50px));;
    /* bottom: calc(1vh + 50px); */
}

.detail_student_routes_container .name_label{
    display: flex;
    justify-content: center;
    font-size: calc(1vw + 22px);
    margin-bottom: 5%;
    text-align: center;
}

.detail_student_routes_container_home .name_label{
    display: flex;
    justify-content: center;
    /* font-size: calc(1vw + 22px); */
    margin-bottom: 5%;
    text-align: center;
}

.detail_student_routes_container .name_label .namestu{
    font-size: calc(1vw + 30px);
    left: 0px;
}

.detail_student_routes_container_home .name_label .namestu{
    /* font-size: calc(1vw + 20px); */
    font-size: calc(1.5vw + 12px);
    left: 0px;
    top: 0px;
}