.student_list_container{
    position: relative;
    display: flex;
    flex-grow: 1;
    flex-direction: column;
    /* margin: 0px 10%; */
    align-items: center;
    /* min-height: 100vh; */
    /* border: 1px solid; */
}

.student_list_container .alogo_img img{
    
}


.student_list_container .hi_alice{
    font-family: 'IBM Plex Sans Thai', sans-serif;
    font-weight: 400;
    font-size: calc(1vw + 27px);
}

.student_list_container .hi_alice span{
    color: #BC4C7B;
}

.student_list_container .student_detail{
    display: flex;
    flex-direction: column;
    align-self: flex-start;
    width: 70%;
    
}
.student_list_container .student_detail span:nth-child(1), span:nth-child(2){
    font-family: 'IBM Plex Sans Thai', sans-serif;
    font-weight: 400;
    font-size: calc(1vw + 27px);
    display: flex;
    justify-content: space-between;
    object-fit: cover;
}

.student_list_container .student_detail span:nth-child(1) div{
    cursor: pointer;
    word-break: break-word;
}
.student_list_container .student_detail span:nth-child(2) div{
    word-break: break-word;
}

.student_list_container .student_detail span:nth-child(1) img{
    margin-left: 10px;
    object-fit: contain;
}
.student_list_container .student_detail span:nth-child(2) img{
    margin-left: 10px;
    object-fit: contain;
}
.student_list_container .student_detail span:nth-child(1) {
    
}
.student_list_container .student_detail span:nth-child(2) {
    color: #5C45CD;
    margin-bottom: 10px;
}

.foot_student_list{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    margin-top: auto;
}

.foot_student_list .add_button{
    margin: 5% 0 10px 0;
}

.foot_student_list .logout_button{
    margin: 10px 0 20px 0;
}

.student_list_container .popup_content{
    width: 95%;
    word-break: break-word;
    margin: 5%;
    /* border: 1px solid; */
}

.student_list_container .popup_button_container{
    /* border: 1px solid; */
    /* margin-bottom: 5%; */
}