.datalist_main {
    background-color: #FFCCCE;
    position: relative;
    min-height: 100vh;
    display: flex;
    flex-direction: row;
    flex-direction: column;
    align-items: center;

}
.datalist_name{
    width: 100%;
    
}
.datalist_undo{
    position: relative;
    width: calc(1vw + 60px);
    /*standart undo*/
    padding: 10px;
    margin-left: 4%;
}

.datalist_title{
    display: flex;
    position: relative;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    width: 90%;
    border: 3px solid black;
    background-color: #A8CFD4;
    border-radius: 30px 30px 30px 0px;
    padding: 25px;
    margin-top: 30px;
    font-size:  calc(1vw + 10px);
    font-family: 'IBM Plex Sans Thai', sans-serif;
    word-break: BREAK-WORD;
    
}
.datalist_type{
    display: flex;
    justify-content: center;
    font-family: 'IBM Plex Sans Thai', sans-serif;
    white-space: pre-line;
    
}
.cover_course_name{
    width: 80%;
    display: flex;
    justify-content: center;
   
}   
.course_name{
    font-family: 'IBM Plex Sans Thai', sans-serif;
    margin-top: 20px;
    margin-top: 80px;
    font-size:  calc(0.5vw + 16px);
    font-weight: bold;
    word-break: break-all;
    margin-right: 2% ;
    text-align: center;
    
}


.datalist_data{
    display: flex;
    flex-direction: column;
    top: 40px;
    padding-top: 10px;
    width: 98%;
    position: relative;
    border: 5px solid #EAD2D2;
    border-radius: 30px 30px 30px 30px;
    font-size:  calc(1vw + 20px);
    background-color: #CFE6CA;
    height: 82%;
    padding: 20px;

}
.list_data{
    display: inline-flex;
    /* flex-direction: row; */
    width: 100%;
    justify-content: center; 
    
}
.datalist_count {
    margin-top: 12px;
    /* position: relative; */
    background: #C6B6D1 ;
    display: flex;
    /* flex-direction: column; */
    font-family: 'IBM Plex Sans Thai', sans-serif;
    font-weight: bold;
    color: black;
    padding: 20px;
    font-size:  calc(1vw + 5px);
    border-radius: 30px 30px 30px 30px;
    /* width: 42%;
    height: 98%; */
    margin-left: 10px;
    margin-top: 10px;
    flex: 1.5;
    justify-content: center;
    
    }
.datalist_date{
    margin-top: 12px;
    position: relative;
    background: #84C2F4;
    display: flex;
    flex-direction: column;
    font-family: 'IBM Plex Sans Thai', sans-serif;
    font-weight: bold;
    color: black;
    padding: 20px;
    font-size:  calc(1vw + 6px);
    border-radius: 30px 30px 30px 30px;
    /* width: 75%;
    height: 98%; */
    align-items: center;
    justify-content: center;
    margin-left: 10px;
    margin-top: 10px;
    position: relative;
    flex: 2.8;
    
    
   
   
    

}
.datalist_time{
    margin-top: 12px;
    position: relative;
    background: #84C2F4 ;
    display: flex;
    flex-direction: column;
    font-family: 'IBM Plex Sans Thai', sans-serif;
    font-weight: bold;
    color: #3F27F5;
    padding: 20px;
    font-size:  calc(1vw + 6px);
    border-radius: 30px 30px 30px 30px;
    /* width: 56%;
    height: 98%; */
    align-items: center;
    margin-left: 10px;
    margin-top: 10px;
    flex: 2;
    
}
.datalist_result{
    display: flex;
    flex-direction: column;
    /* border: 1px solid; */
    font-family: 'IBM Plex Sans Thai', sans-serif;
    font-weight: bold;
    /* font-size: calc(1vw + 27px);
    font-size: calc(0.7vw + 25px);
    font-size: calc(0.9vw + 21.5px); */
    /* font-size: calc(1vw + 20px); */
    font-size: calc(1.2vw + 15px);
    /* font-size: calc(0.9vw + 21.5px); */
    white-space: nowrap;
    margin-left: 3%;
    width: 80%;
    margin-top: 3%;
    
    /* align-items: flex-end; */

    
}

.result_sum, .result_remain{
    display: flex;
    /*  */
    /* justify-content: space-between; */
    align-items: center;
    word-break: break-word;
    margin-top: 5%;
    
}

.result_sum div:nth-child(1), .result_remain div:nth-child(1){
    /* display: flex; */
    /*  */
    flex: 1;
    /* width: 100%; */
   
}
.result_sum div:nth-child(2), .result_remain div:nth-child(2){
    /* display: flex; */
    /*  */
    margin-left: 60px;
    background-color: #84C2F4;
    padding: 15px;
    border-radius: 20px;
    /* padding: 5px 20px;
    padding: 5px calc(1vw + 4px); */
    /* flex-grow: 0; */
    /* word-break: break-word; */
    flex: 4;
    text-align: center;
    
}
.result_remain div:nth-child(2){ 
    color: #2F00E9;
}
.nt{
    display: flex;
    
   
}
.datalist_ap{
    position: relative;
    padding-top: 25px;
    font-size:  calc(1vw + 20px);
    font-family: 'IBM Plex Sans Thai', sans-serif;
    display: flex;
    flex-direction: column;
    font-weight: bold;
    margin-left: 50px;

}
.datalist_ap span{
    
    position: relative; 
    background-color: #84C2F4 ;
    border-radius: 30px 30px 30px 30px;
    padding: 10px;
    margin-top: 20px;
    font-size:  calc(1vw + 15px);
    
}

.datalist_alert{
    position: relative;
    flex-direction: column;
    display: flex;
    margin-top:5px;
    font-size:  calc(1vw + 15px);
   padding-left: 4px;
}
.datalist_alert div{
    padding-top: 40px;
    font-family: 'IBM Plex Sans Thai', sans-serif;
}
.datalist_cf{
    background-color: #C70C2E;
    position: relative;
    display: flex;
    justify-content: center;
    text-decoration: none;
    padding: 20px 0;
    width: 100%;
    font-size: 45px;
    margin-top: -1%;
    font-family: 'IBM Plex Sans Thai', sans-serif;
    color: white;
    bottom: 0;
    margin-top: 50px;
    
}



@media screen and (min-width : 0px) and (max-width : 800px){
   .datalist_undo{
      width: 70px;
      height: 70px;
   }
   .datalist_title{
    margin-top: 10px;

   }
   .course_name{
       margin-top: 40px;
   }
   .datalist_count {
       margin-left: 0px;
   }
   .datalist_date
   {
       margin-left: 0.1px;
   }
   .datalist_time{
       margin-left: 0.1px;
   }
   .datalist_result{
       margin-left: 0px;
       margin-top: 25px;
   }
   .result_sum a{
       margin-left: 35px;
   }
   .result_remain{
    margin-top: 10px;
   }
   .result_remain a{
    margin-left: 25px;
   }
   .datalist_ap{
    margin-left: 0px;
   }
}



.admin_data_result2{
    
    display: flex;
    flex-direction: column;
    /*  */
    font-family: 'IBM Plex Sans Thai', sans-serif;
    font-weight: bold;
    /* font-size: calc(1vw + 27px);
    font-size: calc(0.7vw + 25px);
    font-size: calc(0.9vw + 21.5px); */
    /* font-size: calc(1vw + 20px); */
    font-size: calc(1.2vw + 15px);
    /* font-size: calc(0.9vw + 21.5px); */
    white-space: nowrap;
    margin-left: 3%;
    width: fit-content;
    margin-top: 3%;
    
    /* align-items: flex-end; */

}
.result_sum, .result_remain{
    display: flex;
    /*  */
    /* justify-content: space-between; */
    align-items: center;
    word-break: break-word;
    margin-top: 5%;
    
}

.result_sum div:nth-child(1), .result_remain div:nth-child(1){
    /* display: flex; */
    /*  */
    flex: 1;
    /* width: 100%; */
    
}
.result_sum div:nth-child(2), .result_remain div:nth-child(2){
    /* display: flex; */
    /*  */
    margin-left: 10px;
    background-color: #84C2F4;
    border-radius: 20px;
    /* padding: 5px 20px;
    padding: 5px calc(1vw + 4px); */
    /* flex-grow: 0; */
    /* word-break: break-word; */
    flex: 4;
    text-align: center;
    
}
.result_remain div:nth-child(2){ 
    color: #2F00E9;
}

.datalist_main .popup-detail{
    box-sizing: border-box;
    font-family: 'IBM Plex Sans Thai', sans-serif;
    margin: 0 auto;
    font-weight: 400;
    text-align: center;
    font-size: calc(1vw + 13px);
    padding: 2vh 5%;
    border-radius: 30px;
    border: 0;
    outline: none;
    resize: none;
    overflow: hidden;
    width:100%;
    height: fit-content;
    background-color: transparent;
    word-break: break-word;
}