.detail_container{
    background-color: #A8CFD4;
    min-height: 100vh;
    position: relative;
    display: flex;
    flex-direction: column;
}


.detail_wrapper .cat_container{
    width: 95%;
    top: 50px; 
}
.detail_undo{
    position: relative;
    width: 120px;
    height: 120px;
    top: 1%;
    left: 85%;  /*standart undo*/
    padding: 20px;

}


.detail_logout .logout_button{
    position: relative;
    bottom: 5%;
    margin-top: 80px;
    width: 80%;
    color: #000;
    text-decoration: none;
}
.detail_logout {
    justify-content: center;
    display: flex;
    text-decoration: none;
}
.detail_logo .logo_container {
    justify-content: center;
    display: flex;
    
    font-size: 50px;
}
.detail_logo{
    position: absolute;
    top: 5%;
    left: 3%;

}
.detail_logo .logo_name{
    position: relative;
    width: 280px;
    height: 50px;
    font-size: 70px;
}
.detail_logo .logo_highlight{
    display: flex;

    width: 180px;
    height: 69px;
}
.type{
    
    display: flex;
    flex-direction: row;
    padding-top: 25px;
    padding-left: 30px;
    font-family: 'IBM Plex Sans Thai', sans-serif;
    font-size: 30px;
    
    
}

@media screen and (min-width : 0px) and (max-width : 800px){
    .app_container{
       
    }
    .detail_logo .logo_name{
        position: relative;
        width: 280px;
        height: 50px;
        font-size: 70px;
    }
    .detail_undo{
        position: relative;
        width: 100px;
        height: 100px;
        top: 1%;
        left: 75%;  /*standart undo*/
        padding: 20px;
    
    }
    .type{
        display: flex;
        flex-direction: row;
        padding-top: 25px;
        padding-left: 25px;
        font-family: 'IBM Plex Sans Thai', sans-serif;
        font-weight: bold;
        font-size: 18px;  
    }
    

    
}

.cat_container{
    position: relative;
    top: 30px;
    border: 3px solid #CFE6CA;
    width: 100%;
    background-color: #FFCCCE;
    border-radius: 30px  30px 30px 0px;
    padding-bottom: 45px;
    right: -10px;
    display: flex;
    flex-direction: column;
    margin-bottom: 60px;

}
