.detail_container{
    background-color: #A8CFD4;
    min-height: 100vh;
    position: relative;
    display: flex;
    flex-direction: column;
}

.detail_wrapper{
    width: 100%;
    display: flex;
    justify-content: center;
    margin-bottom: 25px;
    position: relative;
    margin-top: 65px;
}
.detail_wrapper .cat_container{
    width: 95%; 
}
.detail_undo{
    position: relative;
    width: 120px;
    height: 120px;
    top: 1%;
    left: 85%;  /*standart undo*/
    padding: 20px;

}
.detail_logout .button_container{
    position: relative;
    bottom: 5%;
    margin-top: 80px;
    width: 80%;
    text-decoration: none;
}
.detail_logout {
    justify-content: center;
    display: flex;

 
    text-decoration: none;
}
.detail_logo .logo_container {
    justify-content: center;
    display: flex;
    
    font-size: 50px;
}
.detail_logo{
    position: absolute;
    top: 5%;
    left: 3%;

}
.detail_logo .logo_name{
    position: relative;
    width: 280px;
    height: 50px;
    font-size: 70px;
}
.detail_logo .logo_highlight{
    display: flex;

    width: 180px;
    height: 69px;
}

