

.login_container{
    overflow: auto;
    border: 1px solid ;
    background-color: #FFCCCE;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    position:absolute; 
    width: 100%;
    -webkit-tap-highlight-color: transparent;
}

.login_logo_container{
    box-sizing:border-box; 
    display: inline-flex;
    position: relative;
    margin-top: 100px;
    justify-content: center;
   
}

.login_logo_container a{
    text-decoration: none;
}

.login_logo .logo_name{
    /* font-size: 100px; */
    font-size: calc(3vw + 40px);
}

.login_img{
    box-sizing:border-box; 
    margin-left: calc(-1*(6vmax + 100px));
    /* transform: translateX(20px); */
    margin-top: -50px;
    margin-bottom: 5%;
    position: relative;
    /* width: 60%; */
    width: calc(9vw + 200px);
}
.login_form_container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}

.login_form_container div{
    font-family: 'IBM Plex Sans Thai', sans-serif;
    font-weight: 400;
    /* font-size: 38px; */
    font-size: calc(1vw + 29px);
    margin-bottom: 1%;
}

.login_form_container input{
    font-family: 'IBM Plex Sans Thai', sans-serif;
    font-weight: bold;
    font-size: 28px;
    font-weight: 400;
    width: 80%;
    text-align: center;
    outline: none;
    border-radius: 30px;
    border: 0px;
    margin-bottom: 5%;
    padding: 2.5% 0;
    
}
.login_form_container input::-webkit-inner-spin-button{
    -webkit-appearance: none;
}

.login_button{
    font-family: 'IBM Plex Sans Thai', sans-serif;
    font-weight: 400;
    font-size: calc(1vw + 29px);
    width: 90%;
    /* height: 80px; */
    background-color: #d19090;
    color: #212026;
    border-radius: 30px;
    border: 0;
    cursor: pointer;
    padding: 2% 0;
}
@media screen and (min-width : 0px) and (max-width : 800px){
    .app_container{
        width: 100vw;
    }
    .login_logo .logo_name{
        /* font-size: 12.5vw; */
    }
    
    .login_img{
        /* width: 60%; */
    }
    .login_form_container div{
        font-size: 4vmax;
        margin-bottom: 4.5vmax;
    }
    .login_form_container input{
        width: 80vw;
        font-size: 3vmax;
        margin-bottom: 7vmax;
    }
    .login_form_container button{
        width: 90vw;
        font-size: 4vmax;
    }

    
}